In [204]:
###############################################################
# RFM ile Müşteri Segmentasyonu (Customer Segmentation with RFM)
###############################################################

###############################################################
# İş Problemi (Business Problem)
###############################################################
# FLO müşterilerini segmentlere ayırıp bu segmentlere göre pazarlama stratejileri belirlemek istiyor.
# Buna yönelik olarak müşterilerin davranışları tanımlanacak ve bu davranış öbeklenmelerine göre gruplar oluşturulacak..

###############################################################
# Veri Seti Hikayesi
###############################################################

# Veri seti son alışverişlerini 2020 - 2021 yıllarında OmniChannel(hem online hem offline alışveriş yapan) olarak yapan müşterilerin geçmiş alışveriş davranışlarından
# elde edilen bilgilerden oluşmaktadır.

# master_id: Eşsiz müşteri numarası
# order_channel : Alışveriş yapılan platforma ait hangi kanalın kullanıldığı (Android, ios, Desktop, Mobile, Offline)
# last_order_channel : En son alışverişin yapıldığı kanal
# first_order_date : Müşterinin yaptığı ilk alışveriş tarihi
# last_order_date : Müşterinin yaptığı son alışveriş tarihi
# last_order_date_online : Muşterinin online platformda yaptığı son alışveriş tarihi
# last_order_date_offline : Muşterinin offline platformda yaptığı son alışveriş tarihi
# order_num_total_ever_online : Müşterinin online platformda yaptığı toplam alışveriş sayısı
# order_num_total_ever_offline : Müşterinin offline'da yaptığı toplam alışveriş sayısı
# customer_value_total_ever_offline : Müşterinin offline alışverişlerinde ödediği toplam ücret
# customer_value_total_ever_online : Müşterinin online alışverişlerinde ödediği toplam ücret
# interested_in_categories_12 : Müşterinin son 12 ayda alışveriş yaptığı kategorilerin listesi

In [205]:
import pandas as pd
import datetime as dt

In [206]:
df= pd.read_csv("data/flo_data_20k.csv")

# Veriye Göz attık.

In [207]:
def check_df(dataframe, head=5, tail=5):
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    print(dataframe.head(head))
    print("##################### Tail #####################")
    print(dataframe.tail(tail))
    print("##################### Unique #####################")
    print(dataframe.nunique())
    print("##################### NA #####################")
    print(dataframe.isnull().sum())
    print("##################### Quantiles #####################")
    print(dataframe.describe([0, 0.05, 0.50, 0.95, 0.99, 1]).T)

check_df(df)

##################### Shape #####################
(19945, 12)
##################### Types #####################
master_id                             object
order_channel                         object
last_order_channel                    object
first_order_date                      object
last_order_date                       object
last_order_date_online                object
last_order_date_offline               object
order_num_total_ever_online          float64
order_num_total_ever_offline         float64
customer_value_total_ever_offline    float64
customer_value_total_ever_online     float64
interested_in_categories_12           object
dtype: object
##################### Head #####################
                              master_id order_channel last_order_channel  \
0  cc294636-19f0-11eb-8d74-000d3a38a36f   Android App            Offline
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f   Android App             Mobile
2  69b69676-1a40-11ea-941b-000d3a38a36f   Android App        Android App
3  1854e56c-491f-11eb-806e-000d3a38a36f   Android App        Android App
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f       Desktop            Desktop

  first_order_date last_order_date last_order_date_online  \
0       2020-10-30      2021-02-26             2021-02-21
1       2017-02-08      2021-02-16             2021-02-16
2       2019-11-27      2020-11-27             2020-11-27
3       2021-01-06      2021-01-17             2021-01-17
4       2019-08-03      2021-03-07             2021-03-07

  last_order_date_offline  order_num_total_ever_online  \
0              2021-02-26                          4.0
1              2020-01-10                         19.0
2              2019-12-01                          3.0
3              2021-01-06                          1.0
4              2019-08-03                          1.0

   order_num_total_ever_offline  customer_value_total_ever_offline  \
0                           1.0                             139.99
1                           2.0                             159.97
2                           2.0                             189.97
3                           1.0                              39.99
4                           1.0                              49.99

   customer_value_total_ever_online       interested_in_categories_12
0                            799.38                           [KADIN]
1                           1853.58  [ERKEK, COCUK, KADIN, AKTIFSPOR]
2                            395.35                    [ERKEK, KADIN]
3                             81.98               [AKTIFCOCUK, COCUK]
4                            159.99                       [AKTIFSPOR]
##################### Tail #####################
                                  master_id order_channel last_order_channel  \
19940  727e2b6e-ddd4-11e9-a848-000d3a38a36f   Android App            Offline
19941  25cd53d4-61bf-11ea-8dd8-000d3a38a36f       Desktop            Desktop
19942  8aea4c2a-d6fc-11e9-93bc-000d3a38a36f       Ios App            Ios App
19943  e50bb46c-ff30-11e9-a5e8-000d3a38a36f   Android App        Android App
19944  740998d2-b1f7-11e9-89fa-000d3a38a36f   Android App        Android App

      first_order_date last_order_date last_order_date_online  \
19940       2019-09-21      2020-07-05             2020-06-05
19941       2020-03-01      2020-12-22             2020-12-22
19942       2019-09-11      2021-05-24             2021-05-24
19943       2019-03-27      2021-02-13             2021-02-13
19944       2019-09-03      2020-06-06             2020-06-06

      last_order_date_offline  order_num_total_ever_online  \
19940              2020-07-05                          1.0
19941              2020-03-01                          1.0
19942              2019-09-11                          2.0
19943              2021-01-08                          1.0
19944              2019-09-03                          1.0

       order_num_total_ever_offline  customer_value_total_ever_offline  \
19940                           2.0                             289.98
19941                           1.0                             150.48
19942                           1.0                             139.98
19943                           5.0                             711.79
19944                           1.0                              39.99

       customer_value_total_ever_online interested_in_categories_12
19940                            111.98          [ERKEK, AKTIFSPOR]
19941                            239.99                 [AKTIFSPOR]
19942                            492.96                 [AKTIFSPOR]
19943                            297.98          [ERKEK, AKTIFSPOR]
19944                            221.98          [KADIN, AKTIFSPOR]
##################### Unique #####################
master_id                            19945
order_channel                            4
last_order_channel                       5
first_order_date                      2465
last_order_date                        366
last_order_date_online                1743
last_order_date_offline                738
order_num_total_ever_online             57
order_num_total_ever_offline            32
customer_value_total_ever_offline     6097
customer_value_total_ever_online     11292
interested_in_categories_12             32
dtype: int64
##################### NA #####################
master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64
##################### Quantiles #####################
                                     count        mean         std    min  \
order_num_total_ever_online        19945.0    3.110855    4.225647   1.00
order_num_total_ever_offline       19945.0    1.913913    2.062880   1.00
customer_value_total_ever_offline  19945.0  253.922597  301.532853  10.00
customer_value_total_ever_online   19945.0  497.321690  832.601886  12.99

                                      0%     5%     50%       95%        99%  \
order_num_total_ever_online         1.00   1.00    2.00    10.000    20.0000
order_num_total_ever_offline        1.00   1.00    1.00     4.000     7.0000
customer_value_total_ever_offline  10.00  39.99  179.98   694.222  1219.9468
customer_value_total_ever_online   12.99  63.99  286.46  1556.726  3143.8104

                                       100%       max
order_num_total_ever_online          200.00    200.00
order_num_total_ever_offline         109.00    109.00
customer_value_total_ever_offline  18119.14  18119.14
customer_value_total_ever_online   45220.13  45220.13

In [208]:
df.isnull().sum()

master_id                            0
order_channel                        0
last_order_channel                   0
first_order_date                     0
last_order_date                      0
last_order_date_online               0
last_order_date_offline              0
order_num_total_ever_online          0
order_num_total_ever_offline         0
customer_value_total_ever_offline    0
customer_value_total_ever_online     0
interested_in_categories_12          0
dtype: int64

# Her müşterinin toplam alışveriş sayısı ve harcaması için yeni değişkenler oluşturduk.

In [209]:
df["total_order"]=df["order_num_total_ever_online"]+df["order_num_total_ever_offline"]
df["total_value"] = df["customer_value_total_ever_offline"] + df["customer_value_total_ever_online"]

# Tarih olan kolonların veri tiplerini  "date" yaptık.

In [210]:
date_columns = df.columns[df.columns.str.contains("date")]
date_columns

Index(['first_order_date', 'last_order_date', 'last_order_date_online',
       'last_order_date_offline'],
      dtype='object')

In [211]:
for i in date_columns:
    df[i]=pd.to_datetime(df[i])
    print(i,"=",df[i].dtype)

first_order_date = datetime64[ns]
last_order_date = datetime64[ns]
last_order_date_online = datetime64[ns]
last_order_date_offline = datetime64[ns]

# Alışveriş kanallarındaki müşteri sayısının, toplam alınan ürün sayısı ve toplam harcamaların dağılımına baktık.

In [212]:
df.groupby("order_channel").agg({"master_id":"count","total_order":"sum", "total_value":"mean"})

               master_id  total_order  total_value
order_channel
Android App         9495      52269.0   823.492655
Desktop             2735      10920.0   588.782984
Ios App             2833      15351.0   891.634285
Mobile              4882      21679.0   620.275125

# En çok harcama yapan 10 müşteriye baktık

In [213]:
df.sort_values("total_value", ascending=False)[:10]

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_order,total_value
11150,5d1c466a-9cfd-11e9-9897-000d3a38a36f,Android App,Desktop,2013-10-11,2021-04-30,2021-04-30,2020-12-24,200.0,2.0,684.97,45220.13,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",202.0,45905.10
4315,d5ef8058-a5c6-11e9-a2fc-000d3a38a36f,Android App,Android App,2018-08-06,2021-02-23,2021-02-23,2020-07-06,67.0,1.0,130.49,36687.80,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",68.0,36818.29
7613,73fd19aa-9e37-11e9-9897-000d3a38a36f,Ios App,Offline,2014-01-14,2021-05-18,2021-01-30,2021-05-18,81.0,1.0,1263.76,32654.34,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",82.0,33918.10
13880,7137a5c0-7aad-11ea-8f20-000d3a38a36f,Ios App,Offline,2021-03-01,2021-04-13,2021-03-18,2021-04-13,10.0,1.0,538.94,30688.47,"[ERKEK, KADIN, AKTIFSPOR]",11.0,31227.41
9055,47a642fe-975b-11eb-8c2a-000d3a38a36f,Android App,Offline,2021-04-07,2021-04-27,2021-04-07,2021-04-27,1.0,3.0,18119.14,2587.20,[AKTIFSPOR],4.0,20706.34
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,Desktop,Desktop,2020-02-16,2021-04-30,2021-04-30,2020-12-18,66.0,4.0,843.68,17599.89,"[ERKEK, KADIN, AKTIFSPOR]",70.0,18443.57
8068,d696c654-2633-11ea-8e1c-000d3a38a36f,Ios App,Ios App,2017-05-10,2021-04-13,2021-04-13,2019-08-15,69.0,1.0,82.48,16836.09,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",70.0,16918.57
163,fef57ffa-aae6-11e9-a2fc-000d3a38a36f,Mobile,Desktop,2016-11-08,2021-05-12,2021-05-12,2020-07-09,36.0,1.0,180.73,12545.37,"[ERKEK, AKTIFSPOR]",37.0,12726.10
7223,cba59206-9dd1-11e9-9897-000d3a38a36f,Android App,Android App,2013-02-21,2021-05-09,2021-05-09,2020-01-25,130.0,1.0,49.99,12232.25,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",131.0,12282.24
18767,fc0ce7a4-9d87-11e9-9897-000d3a38a36f,Desktop,Desktop,2018-11-24,2020-11-11,2020-11-11,2019-12-06,18.0,2.0,64.97,12038.18,"[ERKEK, KADIN]",20.0,12103.15

# En çok sipariş veren 10 müşteriye baktık.

In [214]:
df.sort_values("total_order", ascending=False)[:10]

,master_id,order_channel,last_order_channel,first_order_date,last_order_date,last_order_date_online,last_order_date_offline,order_num_total_ever_online,order_num_total_ever_offline,customer_value_total_ever_offline,customer_value_total_ever_online,interested_in_categories_12,total_order,total_value
11150,5d1c466a-9cfd-11e9-9897-000d3a38a36f,Android App,Desktop,2013-10-11,2021-04-30,2021-04-30,2020-12-24,200.0,2.0,684.97,45220.13,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",202.0,45905.10
7223,cba59206-9dd1-11e9-9897-000d3a38a36f,Android App,Android App,2013-02-21,2021-05-09,2021-05-09,2020-01-25,130.0,1.0,49.99,12232.25,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",131.0,12282.24
8783,a57f4302-b1a8-11e9-89fa-000d3a38a36f,Android App,Offline,2019-08-07,2020-11-04,2020-09-07,2020-11-04,2.0,109.0,10239.46,143.98,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",111.0,10383.44
2619,fdbe8304-a7ab-11e9-a2fc-000d3a38a36f,Android App,Offline,2018-10-18,2020-06-30,2018-10-18,2020-06-30,1.0,87.0,8432.25,139.98,[ERKEK],88.0,8572.23
6322,329968c6-a0e2-11e9-a2fc-000d3a38a36f,Ios App,Ios App,2019-02-14,2021-04-05,2021-04-05,2020-02-17,2.0,81.0,3997.55,242.81,[ERKEK],83.0,4240.36
7613,73fd19aa-9e37-11e9-9897-000d3a38a36f,Ios App,Offline,2014-01-14,2021-05-18,2021-01-30,2021-05-18,81.0,1.0,1263.76,32654.34,"[ERKEK, COCUK, KADIN, AKTIFSPOR]",82.0,33918.10
9347,44d032ee-a0d4-11e9-a2fc-000d3a38a36f,Mobile,Mobile,2019-02-11,2021-02-11,2021-02-11,2020-12-24,3.0,74.0,4640.77,543.28,"[KADIN, AKTIFSPOR]",77.0,5184.05
10954,b27e241a-a901-11e9-a2fc-000d3a38a36f,Mobile,Mobile,2015-09-12,2021-04-01,2021-04-01,2019-10-08,72.0,3.0,292.93,5004.95,"[AKTIFCOCUK, ERKEK, KADIN, AKTIFSPOR]",75.0,5297.88
8068,d696c654-2633-11ea-8e1c-000d3a38a36f,Ios App,Ios App,2017-05-10,2021-04-13,2021-04-13,2019-08-15,69.0,1.0,82.48,16836.09,"[AKTIFCOCUK, ERKEK, COCUK, KADIN, AKTIFSPOR]",70.0,16918.57
7330,a4d534a2-5b1b-11eb-8dbd-000d3a38a36f,Desktop,Desktop,2020-02-16,2021-04-30,2021-04-30,2020-12-18,66.0,4.0,843.68,17599.89,"[ERKEK, KADIN, AKTIFSPOR]",70.0,18443.57

# RFM analizi için  rfm adında bir dataframe oluşturduk ve  RFM için gerekli olan değerleri yeni bir kolon olarak aradık.
# Analiz tarihini son kayıt edilmiş veriden 2 sonrası olarak seçtik. ( recency değeri için )

In [215]:
rfm = pd.DataFrame()

df["last_order_date"].max() # 2021-05-30
analysis_date = dt.datetime(2021,6,1)

rfm["customer_id"] = df["master_id"]
rfm["recency"] = (analysis_date - df["last_order_date"]).astype('timedelta64[D]')
rfm["frequency"] = df["total_order"]
rfm["monetary"] = df["total_value"]
rfm.head()

                            customer_id  recency  frequency  monetary
0  cc294636-19f0-11eb-8d74-000d3a38a36f     95.0        5.0    939.37
1  f431bd5a-ab7b-11e9-a2fc-000d3a38a36f    105.0       21.0   2013.55
2  69b69676-1a40-11ea-941b-000d3a38a36f    186.0        5.0    585.32
3  1854e56c-491f-11eb-806e-000d3a38a36f    135.0        2.0    121.97
4  d6ea1074-f1f5-11e9-9346-000d3a38a36f     86.0        2.0    209.98

# RFM metriklerini 5 parçaya bölerek sınıflandırdık. 
# f ve m  değerlerinin büyük olması r değerinin küçük olması daha iyi olduğu için ona göre etiketler oluşturduk.

In [216]:
rfm["recency_score"] = pd.qcut(rfm['recency'], 5, labels=[5,4,3,2,1])
rfm["frequency_score"] = pd.qcut(rfm['frequency'].rank(method="first"), 5, labels=[1,2,3,4,5])
rfm["monetary_score"] = pd.qcut(rfm['monetary'], 5, labels=[1,2,3,4,5])

rfm.head()

,customer_id,recency,frequency,monetary,recency_score,frequency_score,monetary_score
0,cc294636-19f0-11eb-8d74-000d3a38a36f,95.0,5.0,939.37,3,4,4
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,105.0,21.0,2013.55,3,5,5
2,69b69676-1a40-11ea-941b-000d3a38a36f,186.0,5.0,585.32,2,4,3
3,1854e56c-491f-11eb-806e-000d3a38a36f,135.0,2.0,121.97,3,1,1
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,86.0,2.0,209.98,3,1,1

# recency_score ve frequency_score’u tek bir değişken olarak ifade ettik.

In [217]:
rfm["RF_score"]=rfm["recency_score"].astype(str)+rfm["frequency_score"].astype(str)

# Oluşturulan RF skorların daha açıklanabilir olması için segment tanımlama ve  tanımlanan seg_map yardımı ile RF_SCORE'u segmentlerine çevirdik.

In [218]:
seg_map = {
    r'[1-2][1-2]': 'hibernating',
    r'[1-2][3-4]': 'at_Risk',
    r'[1-2]5': 'cant_loose',
    r'3[1-2]': 'about_to_sleep',
    r'33': 'need_attention',
    r'[3-4][4-5]': 'loyal_customers',
    r'41': 'promising',
    r'51': 'new_customers',
    r'[4-5][2-3]': 'potential_loyalists',
    r'5[4-5]': 'champions'
}

rfm['segment'] = rfm['RF_score'].replace(seg_map, regex=True)
rfm.head()

,customer_id,recency,frequency,monetary,recency_score,frequency_score,monetary_score,RF_score,segment
0,cc294636-19f0-11eb-8d74-000d3a38a36f,95.0,5.0,939.37,3,4,4,34,loyal_customers
1,f431bd5a-ab7b-11e9-a2fc-000d3a38a36f,105.0,21.0,2013.55,3,5,5,35,loyal_customers
2,69b69676-1a40-11ea-941b-000d3a38a36f,186.0,5.0,585.32,2,4,3,24,at_Risk
3,1854e56c-491f-11eb-806e-000d3a38a36f,135.0,2.0,121.97,3,1,1,31,about_to_sleep
4,d6ea1074-f1f5-11e9-9346-000d3a38a36f,86.0,2.0,209.98,3,1,1,31,about_to_sleep

# Segmentlerin recency, frequnecy ve monetary ortalamarına göre inceledik.

In [219]:
rfm.groupby('segment').agg({'customer_id':'count','recency':'mean','frequency':'mean','monetary':'mean'}).sort_values(by='monetary', ascending=False)

                     customer_id     recency  frequency     monetary
segment
cant_loose                  1200  235.444167  10.698333  1474.468217
champions                   1932   17.106625   8.934265  1406.625109
loyal_customers             3361   82.594763   8.374591  1216.818616
at_Risk                     3131  241.606835   4.472373   646.610236
need_attention               823  113.828676   3.727825   562.142965
potential_loyalists         2938   37.155888   3.304289   533.184466
hibernating                 3604  247.949501   2.394007   366.267062
about_to_sleep              1629  113.785144   2.401473   359.008963
new_customers                680   17.917647   2.000000   339.955544
promising                    647   58.921175   2.000000   335.672705

# AKSİYON !!!
# FLO bünyesine yeni bir kadın ayakkabı markası dahil ediyor. Dahil ettiği markanın ürün fiyatları genel müşteri tercihlerinin üstünde. Bu nedenle  markanın tanıtımı ve ürün satışları için ilgilenecek profildeki müşterilerle özel olarak iletişime geçeilmek isteniliyor. Bu müşterilerin sadık  ve Kadın kategorisinden alışveriş yapan kişiler olması planlandı. 
# Müşterilerin id numaralarını csv dosyasına yeni_marka_hedef_müşteri_id.cvs olarak kayıt ettik.

In [220]:
target_customers = rfm[rfm["segment"].isin(["champions","loyal_customers"])]["customer_id"]
target_customers=df[(df["master_id"].isin(target_customers)) & (df["interested_in_categories_12"].str.contains("KADIN"))]["master_id"]
target_customers.to_csv("yeni_marka_hedef_müşteri_id.csv", index=False)